@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital@1&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color:#425aa6;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  color: #f1e1c5;
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  width: 500px;
}

.textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

.tag {
  background-color:  	#eac4b0;
  color:#2d2559;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color:#2d2559	;
  color:#eac4b0;
}